p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

body {
  background-color: var(--logo-color-footer);
  font-family: "Roboto", "Raleway", sans-serif;
  color: var(--nav-color);
}
:root {
  --logo-color-main: #2196f3;
  --logo-color-header: #000000;
  --logo-color-footer: #ffffff;
  --footer-color: rgba(255, 255, 255, 0.6);
  --footer-background-color: #2f303a;
  --team-color: #f5f4fa;
  --text-color: #757575;
  --box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  --nav-color: #212121;
  --border-line-color: #ececec;
}
/* Header */
.header-container {
  display: flex;
  width: 1200px;
  margin-left: 215px;
  margin-right: 215px;
  padding-left: 15px;
  padding-right: 15px;
  border-bottom: 1px solid var(--border-line-color);
  outline: 2px solid tomato;
  background: var(--logo-color-footer);
  align-items: center;
}

.logo {
  width: 145px;
  margin-top: 25px;
  margin-bottom: 24px;
  margin-right: 93px;

  font-family: "Raleway";
  font-weight: bold;
  color: var(--logo-color-header);
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.nav-container {
  display: flex;
  align-items: center;
}
.page-header span {
  color: var(--logo-color-main);
}
.site-nav-list-item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .site-nav-list-item .current {
  color: var(--logo-color-main);
}

.site-nav li {
  list-style-type: none;
}
.site-nav {
  width: 294px;
  margin-right: 331px;
  display: flex;
}
.site-nav-items {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--nav-color);
}
.site-nav .site-nav-items:hover,
.site-nav .site-nav-items:focus,
.site-nav .site-nav-items:active {
  color: var(--logo-color-main);
}

.site-nav-items:visited {
  color: var(--nav-color);
}

.contacts-list-items:not(:last-child) {
  margin-right: 50px;
}

.contacts-items {
  text-decoration: none;
  list-style-type: none;
  color: var(--text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}

.contacts {
  color: var(--text-color);
  text-decoration: none;
  list-style-type: none;
  width: 135px;
  margin-right: 0px;
  display: flex;
}

.contacts .contacts-items:hover,
.contacts-items:focus {
  color: var(--logo-color-main);
}

/* Main */
.portfolio-container {
  text-align: center;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 215px;
  margin-right: 215px;
  margin-top: 34px;
  margin-bottom: 94px;
  outline: 2px solid tomato;
}

.filter-container {
  text-align: center;
  width: 611px;
  margin-top: 78px;
  margin-right: 280px;
  margin-bottom: 34px;
  margin-left: 280px;
  padding-bottom: 50px;
}

.filter-btn {
  text-decoration: none;
  list-style-type: none;
  background-color: var(--team-color);
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  border: none;
  border-radius: 4px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  font-size: 16px;
  color: var(--nav-color);
  line-height: 1.6;
  padding: 6px 22px 6px 22px;
}

.portfolio-filter .portfolio-items .button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--logo-color-footer);
  border-width: 1px;
  border-color: var(--logo-color-header);
}

.main-content-section .portfolio-items .filter-btn:hover,
.filter-btn:focus,
.filter-btn:active {
  background-color: var(--logo-color-main);
  color: var(--logo-color-footer);
}

.portfolio-items {
  list-style-type: none;
  text-decoration: none;
  display: inline;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.types-of-services {
  display: flex;
  flex-wrap: wrap;
  margin-left: 30px;
  margin-top: 30px;
  margin-left: -30px;
  margin-top: -30px;
  align-items: center;
}
.portfolio-exmpls-container {
  outline: 2px solid tomato;
  width: 1170px;
}
.services-item {
  list-style-type: none;
  flex-basis: calc((100% - 90px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}

.services-container {
  border: 1px solid #eeeeee;
  width: 370px;
  padding-top: 0px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
}
.name {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.text {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}
/* Main for index.html */
.title-section {
  background-color: var(--footer-background-color);
  width: 1200px;
  height: 600px;
}
.title-section .title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--logo-color-footer);
  text-transform: uppercase;
}
.title-section .btn {
  position: absolute;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  align-items: center;
  text-align: center;
  color: var(--logo-color-footer);
  border: none;
  background: var(--logo-color-main);
  box-shadow: var(--box-shadow);
  border-radius: 4px;
  cursor: pointer;
}

.headline {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.team-section {
  background-color: var(--team-color);
}
.subtitle {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
}

.list-items {
  list-style-type: none;
}
.headline-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
}

.text-position {
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--text-color);
}

/* Footer */
.footer-section {
  width: 1200px;
  margin-top: 94px;
  margin-left: 215px;

  padding-left: 15px;
  margin-right: 15px;
  outline: 2px solid tomato;
  background-color: var(--footer-background-color);
}

.logo-footer {
  width: 145px;
  padding-top: 60px;
  padding-right: 1000px;
  padding-bottom: 20px;

  font-family: "Raleway";
  font-weight: bold;
  color: var(--logo-color-footer);
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.footer-section span {
  color: var(--logo-color-main);
}

.a {
  text-decoration: none;
}

.address-section .address-section-item {
  list-style-type: none;
}
.address-section-item .adress-item {
  text-decoration: none;
}

.address-section {
  width: 231px;
  margin-top: 20px;
  margin-right: 1154;
  margin-bottom: 60;
}

.exact-adress-item {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  font-style: normal;
  color: var(--logo-color-footer);
}
.adress-item {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  font-style: normal;
  color: var(--footer-color);
}

.address-section .address-section-item .adress-item:hover,
.adress-item:focus,
.adress-item:active {
  color: var(--logo-color-main);
}
.address-section .address-section-item .exact-adress-item:hover,
.exact-adress-item:focus,
.exact-adress-item:active {
  color: var(--logo-color-main);
}
